@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 100%;
  --primary: 259 100% 82.5%;
  --secondary: 7 82% 56%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}